<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @workouts %>
	<% @workouts.each do |workout| %>
		<div class="well">
			<%= workout.location %>
			<hr />
			<%= link_to time_ago_in_words(workout.date), workout_path(workout) %> ago
		</div>
	<% end %>
<% end %>