<div class="row">
	<div class="five columns">
    	<div class="panel">
			<h1>Edit workout</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @workout %> |
			<%= link_to 'Back', workouts_path %>
		</div>
	</div>
</div>
