// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.workout {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.workout p {
	margin: 4px 0;
}

.workout.hover {
	background: #FAFAFA;	
}

.workout .admin {
	display: none;
}

.workout.hover .admin {
	display: inline;
}